@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

@layer base {
    html {
        background: theme('colors.black');
        color: theme('colors.white');
    }
    body {
        @apply text-body font-body;
    }
}

@layer components {
    header, footer, section {
        @apply container mx-auto my-24;
    }
    
    h1, h2, h3, h4 {
        @apply font-bold;
    }
    
    h1 {
        @apply text-h1;
    }
    
    h2 {
        @apply text-h2;
    }
    
    h3 {
        @apply text-h3;
    }
    
    h4 {
        @apply text-h4;
    }

    button {
        @apply px-6 py-3 rounded-full bg-primary text-black;
    }

    button:hover, button:active {
        @apply border-2 border-primary bg-black text-white;
    }
}